<div class="card m-5 animate__animated animate__fadeIn" id="ourservices">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="../../../assets/img/services.jpeg" class="w-100 h-100" alt="../../../assets/img/services.jpeg">
        </div>
        <div class="col-md-8">
            <div class="card-body" style="text-align: justify;">
                <h5 class="card-title display-6">Services</h5>
                <p class="card-text lead">Do you have a glass window to change or restore? Do not worry, BrothersOjeda offers restoration services or window glass change, we serve around Arlington, Dallas, Fort Worth and all the Metroplex, State from Texas.</p>
                <p class="card-text lead">We offer recidencial service and small shops, we change any type of window, whether on the upper floor, basement, bathroom, living room and dining room, where there is a window that shows some damage do not worry, our trained and professional
                    team will help you.</p>
                <p class="card-text lead">We provide a variety of different services for all your window needs, including installation, repair, and cleaning. We would love to be your window contractor. Call us or Contact us today!</p>

            </div>
        </div>
    </div>
</div>