<nav class="navbar navbar-expand-lg navbar-default bg-light" style="position: relative; z-index: 99; width: 100%;">
    <div class="container">
        <div style="width: 100px;">
            <!--<a href="https://www.facebook.com/Brothersojeda-103259681297131"><i class="fab fa-facebook" style="font-size: 30px;"></i><!-- <img src="./assets/img/facebook-brands.svg" style="width: 30px;"></a>&nbsp;&nbsp;-->
            <button mat-icon-button color="primary" type="button" style="border: none; background-color: transparent;"><a href="https://www.facebook.com/Brothersojeda-103259681297131" target="_blank"><i class="fab fa-facebook fs-3"></i></a></button>
            <button mat-icon-button color="primary" type="button" style="border: none; background-color: transparent;"><a href="https://wa.me/message/BMJZQEC4PAQZF1" target="_blank"><i class="fab fa-whatsapp fs-3"></i></a></button>
            <!-- <a href="https://wa.me/message/BMJZQEC4PAQZF1"><i class="fab fa-whatsapp" style="font-size: 30px;"></i></a> -->
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""><i class="fas fa-ellipsis-v"></i></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ourservices">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutus">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#comments">Comments</a>
                </li>
            </ul>
            <!-- <div class="d-flex">                
                <button class="btn btn-success" type="submit">Search</button>
            </div> -->
        </div>
    </div>
</nav>