<swiper [slidesPerView]="total" [spaceBetween]="5" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [navigation]="{}" [pagination]="{ clickable: true }" [scrollbar]="{ draggable: true }">
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g23.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g23"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g22.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g22"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g21.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g21"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g20.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g20"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g19.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g19"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g18.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g18"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g17.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g17"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g16.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g16"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g0.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g0"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g1.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g1"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g2.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g2"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g3.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g3"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g4.jpeg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g4"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g5.jpeg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g5"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g6.jpeg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g6"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g7.jpeg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g7"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g8.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g8"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g9.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g9"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g10.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g10"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g11.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g11"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g12.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g12"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g13.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g13"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g14.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g14"></ng-template>
    <ng-template swiperSlide><img src="../../../assets/img/gallery/g15.jpg" class="galleryimg" data-bs-toggle="modal" data-bs-target="#g15"></ng-template>
</swiper>

<!-- Modal -->
<div class="modal fade" id="g0" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g0.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g1.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g2.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g3.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g4" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g4.jpeg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g5" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g5.jpeg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g6" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g6.jpeg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g7" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g7.jpeg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g8" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g8.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g9" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g9.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g10" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g10.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g11" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g11.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g12" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g12.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g13" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g13.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g14" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g14.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g15" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g15.jpg" class="modalImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g16" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g16.jpg" class="modalVerImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g17" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g17.jpg" class="modalVerImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g18" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g18.jpg" class="modalVerImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g19" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g19.jpg" class="modalVerImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g20" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g20.jpg" class="modalVerImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g21" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g21.jpg" class="modalVerImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g22" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g22.jpg" class="modalVerImg">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="g23" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <img src="../../../assets/img/gallery/g23.jpg" class="modalVerImg">
            </div>
        </div>
    </div>
</div>