<p class="display-6 lead">Comments our customers</p>
<ul class="list-group list-group-flush" style="text-align: justify;">
    <li class="list-group-item "><b>Leo Rosales</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                <br>
                He did an awesome job! The prices were also very reasonable and gave a quote right on the spot; they did excellent work. Gave a 5 star.</em></li>
    <li class="list-group-item "><b>Tania M.</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                <br>
                They recently replaced several foggy windows. They delivered a quick estimate with a realistic timeline. They were on time, did the job efficiently with a positive and customer service attitude. We are very happy with their service and would recommend them to anyone. Muy contentos con su servicio!</em></li>
    <li class="list-group-item "><b>David Atchley</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        <br>
                        Calidad, Capacidad de respuesta, Precio, Profesionalismo, Puntualidad</em></li>
    <li class="list-group-item "><b>Subbu Ramanathan</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                <br>
                                I got a small fogged glass replaced with Borhters Ojeda. The price was great and the quality of workmanship was Top Notch!! Very professional too. They showed up on the dot and were in and out in pretty quick. Will highly recommend!</em></li>
    <li class="list-group-item "><b>Debbie L</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <br>
            I had 8 foggy windows replaced, two of which were huge custom size windows. I highly recommend their services. They were professional, courteous, respectful, quick, and did a great clean up job. Their value and turnaround timeline surpassed the
            competitors’. They also provided a 10 year warranty which is hard to find these days. Thank you Sergio for providing me a stress-free experience!</em></li>
    <li class="list-group-item "><b>Hermilo Sosa</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <br>
            Excellent work good quality 100% recommend.</em></li>
    <li class="list-group-item "><b>Miriam Velasco</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <br>
            Thank you very much, I really liked the attention and above all they do a quality job. 100% recommended</em></li>
    <li class="list-group-item "><b>Judy & Bruton</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <br>
            Brothers Ojeda replaced 2 customized windows w/an equally beautiful glass product. They installed new windows and then cleaned this area with a vacuum. They were professional & courteous, worked quickly & spotlessly. Their gorgeous work came w/a
            10 year guarantee and many smiles!</em></li>
    <li class="list-group-item "><b>Michael Jarke</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <br>Brother’s Ojeda replaced 7 windows in my home due to condensation build-up between the panes. They did a fantastic job and the customer service was top-notch. They also back the windows and their work with a 10-year warranty. Thank you, Sergio!</em></li>
    <li class="list-group-item "><b>Cynthia Pool</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <br>
            Excellent customer service! Our glass piece had to be ordered but it came in a timely manner, the actual replacing the glass process was very quick and he left no mess behind. Easy to work with and most importantly we paid the price we were quoted
            no “hidden fees” of any sort.</em></li>
    <li class="list-group-item "><b>Paul Metzger</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <br>
            Jaime came and replaced some windows with broken seals. Work done quickly and with minimum agony. Window washing was done also with impressive results.</em></li>
    <li class="list-group-item "><b>Joel Mancia</b><em> | <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            <br>
            The truth was an excellent job if I recommend a very clean job and a very respectful person thank you very much Mr. Ojeda.</em></li>
</ul>
<br>