<div class="card m-5 animate__animated animate__fadeIn" id="aboutus">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body" style="text-align: justify;">
                <h5 class="card-title display-6">About us</h5>
                <p class="card-text lead">We are a company dedicated to the service of restoration and changes of windows of residential type and small shops, we have more than 5 years of experience and we have the tools and training that characterizes us as one of the best in
                    the state of Texas.</p>
                <p class="card-text lead">We are currently beginning to introduce ourselves to the digital areas through the use of the website and Google services where you can give us your opinion that will surely help more customers and thus have a better reference about our
                    work thanks to you.</p>
                <p class="card-text lead">Brother's Ojeda <small>|</small> Residential Glass Restoration at your service.</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/img/about.jpeg" class="w-100 h-100" alt="../../../assets/img/services.jpeg">
        </div>
    </div>
</div>